<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the button that opens the modal
  var btn = document.getElementById("deleteList");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal
  btn.onclick = function () {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>

<style>
  #listbox {
    box-shadow: 3px 3px 7px #629c44;
    border-radius: 15px;
    background: #ffffff;
    padding: 20px;
    padding-top: 10px;
    width: 300px;
    height: 250px;
    font-family: 'Alata';
    display: inline-block;
    margin-right: 30px;
    vertical-align: text-top;
  }

  .flex-parent {
    display: flex;
  }

  .jc-center {
    justify-content: center;
  }

  .space {
    min-width: 10px;
    min-height: 10px;
  }

  /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal*/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

  .divider_delete_list_buttons {
    width: 30px;
    height: auto;
    display: inline-block;
  }
</style>

<link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
<h2 style="font-family:'Alata'; color: #629c44; margin-bottom: 20px;">Grocery List</h2>
<div style="display: inline-block;">

  <div id="listbox">
    <div>
      <h3 style=" color: #629c44; padding-top: 5px; padding-bottom: 10px;">List 1</h3>
      <input style="width: 100%;" placeholder="New List Name" maxlength="20" />
      <div class="space"></div>
      <div class="space"></div>

      <div class="flex-parent jc-center">
        <button style="color: #ffffff; font-size: 18px;  border-radius: 5px; border:unset; background: #629c44;  width:100% ;height: 40px; ">Rename List</button>
      </div>
      <div class="space"></div>
      <div class="flex-parent jc-center">
        <button style="color: #ffffff;font-size: 18px;border-radius: 5px;border: unset;background: #ff5d55; width: 75%; height: 40px;" id="deleteList">Delete List</button>
      </div>
    </div>
  </div>

  <div id="listbox">
    <div>
      <h3 style=" color: #629c44; padding-bottom: 10px;">List 2</h3>
      <div style="text-align: center;">
        <a style="justify-content:center;">Are you sure you <br /> want to delete List 2?</a>
        <br />
        <a style="text-align: center; margin-bottom:5px;">You have -- items <br />that are unchecked.</a>
        <div class="space"></div>
        <div style="display:inline-block; width: 100%; text-align:center;">
          <button style="color: #ffffff;font-size: 18px; border-radius: 5px;border: unset; background:#888; width: 30%; height: 40px;">
            Cancel
          </button>
          <div class="divider_delete_list_buttons"></div>
          <button style="color: #ffffff;font-size: 18px;border-radius: 5px;border: unset;background: #ff5d55; width: 30%; height: 40px;">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Creating a New List Box-->
  <div id="listbox">
    <div>
      <h3 style=" color: #629c44; padding-top: 5px; padding-bottom: 10px;">Create New List</h3>
      <input style="width: 100%;" placeholder="List Name" maxlength="20" />
      <div class="space"></div>
      <div class="space"></div>
      <div class="flex-parent jc-center">
        <button style="color: #ffffff; font-size: 18px;  border-radius: 5px; border:unset; background: #629c44;  width:100% ;height: 40px; ">Create List</button>
      </div>
    </div>
  </div>


  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>
    </div>

  </div>



</div>
