<html>
<body>
  <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Text Me One' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <table width="100%">
    <tr>
      <td style="font-family: 'Text Me One'; color: #629c44; font-size: 30px; text-align: left; font-weight: bold; width: 50%;">Grocery Lists</td>
      <td style="text-align: right;">
        <form class="example" action="action_page.php">
          <input type="text" placeholder="Search for list.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </td>
      <td style="text-align: right; width: 15%;"><button [routerLink]="['/new-list']" style="font-family: 'Alata'; color: #ffffff; font-size: 14px; width: 139px; height: 32px; border-radius: 7px; border:unset; background: #f06e9c;  ">+Create New List</button>  </td>
    </tr>
  </table>

  <p *ngIf="!gLists"><em>Loading...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="gLists">
    <thead>
      <tr>
        <th>Date</th>
        <th>List Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gList of gLists">
        <td>{{ gList.Date }}</td>
        <td>{{ gList.ListName }}</td>
      </tr>
    </tbody>
  </table>

  <!--<div class=parent style="margin-top: 10px; font-family: 'Alata'; font-size:16px;">
    <div id="rcorners2">
      <table class="table" style="margin-bottom: 0px;">
        <thead>
          <tr>

            <th width=50% scope="col">Name</th>
            <th width=15% scope="col" style="text-align:center;">Items</th>
            <th width=20% scope="col" style="text-align:center;">Date</th>
            <th width=20% scope="col"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div style="height:500px;" class="overflow-auto">
        <table class="table">

          <tbody id="table-body">
          </tbody>
        </table>


      </div>


    </div>
  </div>-->
</body>
</html>
