<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
      <link href='https://fonts.googleapis.com/css?family=Text Me One' rel='stylesheet'>
      <a class="navbar-brand" [routerLink]="['/']">

        <h1 style="font-family: 'Text Me One'; color: #629c44; font-size: 72px; text-align: left;">Grociri</h1>

        <h2 style="font-family: 'Alata'; color: #7a7a7a; font-size: 18px; text-align: left;">your personal grocery web app assistant</h2>

      </a>

      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }"
           style="font-family: 'Alata'; color: #7a7a7a">
        <ul class="navbar-nav flex-grow" >

          <li   class="nav-item" [routerLinkActive]="['link-active']">
            <a *ngIf="isLoggedIn" style="float: left;" id="hello" class="nav-link text-dark">hello</a>
            <a style="float: left;" id="logout" class="nav-link text-dark" [routerLink]="['/faq']"></a>
            <a style="float: left;" class="nav-link text-dark" [routerLink]="['/faq']">FAQ</a>

          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
