a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-toggler a {
  float: right;
  display: block;
  color: #7a7a7a;
}

.navbar-toggler a:hover{
    background-color: #6e9873;
    color: white;
}
