#rcorners1 {
  box-shadow: 0px 3px 7px #629c44;
  border-radius: 15px 0px 0px 15px;
  background: #629c4c;
  text-align: center;
  font-family: 'Text Me One';
  color: #ffffff;
  width: 20%;
  height: 600px;
  position: relative;
}

#rcorners2 {
  box-shadow: 0px 3px 7px #629c44;
  border-radius: 0px 15px 15px 0px;
  background: #ffffff;
  height: 600px;
  width: 80%;
  overflow: auto;
}

.parent {
  display: flex;
}

#items {
  font-family: 'Alata';
  border-collapse: collapse;
  width: 95%;
  position: relative;
  top: 10px;
  left: 10px;
  right: 10px;
}

  #items td, #items th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #items th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

.custom-control-label:before {
  background-color: white;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #629c44;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

#header {
  font-family: 'Text Me One';
  color: #629c44;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
}

#new-item-button {
  font-family: 'Alata';
  color: #ffffff;
  font-size: 14px;
  width: 139px;
  height: 32px;
  border-radius: 7px;
  border: unset;
  background: #f06e9c;
}

#rconer1-sub1 {
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  text-align: left
}

#back-button {
  font-family: 'Alata';
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  width: 100%;
  position: absolute;
  bottom: 15px;
}

  #back-button:hover {
    cursor: pointer;
  }

  #back-button:focus {
    outline: 0;
    cursor: pointer;
  }

#table-body {
  font-family: 'Alata';
  font-size: 16px;
  overflow: auto;
}
