#rcorners1 {
  box-shadow: 0px 3px 7px #629c44;
  border-radius: 15px 0px 0px 15px;
  background: #629c4c;
  text-align: center;
  font-family: 'Text Me One';
  color: #ffffff;
  width: 20%;
  height: 375px;
  position: relative;
}

#rcorners2 {
  box-shadow: 0px 3px 7px #629c44;
  border-radius: 0px 15px 15px 0px;
  background: #ffffff;
  height: 375px;
  width: 80%;
}

.parent {
  display: flex;
}

#page-header {
  font-family: 'Text Me One';
  color: #629c44;
  font-size: 36px;
  text-align: left;
  font-weight: bold;
}


.custom-control-label:before {
  background-color: white;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #629c44;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

#header {
  font-family: 'Text Me One';
  color: #629c44;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
}

#new-item-button {
  font-family: 'Alata';
  color: #ffffff;
  font-size: 14px;
  width: 139px;
  height: 32px;
  border-radius: 7px;
  border: unset;
  background: #f06e9c;
}

#rconer1-sub1 {
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  text-align: left
}

#back-button {
  font-family: 'Alata';
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  width: 100%;
  position: absolute;
  bottom: 15px;
}

  #back-button:hover {
    cursor: pointer;
  }

  #back-button:focus {
    outline: 0;
    cursor: pointer;
  }

#table-body {
  font-family: 'Alata';
  font-size: 16px;
  overflow: auto;
}

#top-row {
  display: inline-flex;
  width: 100%;
  border-bottom-width: 1px;
  justify-content: space-between;
}

.custom-control-label:before {
  background-color: white;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #629c44;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.space {
  min-width: 10px;
  min-height: 10px;
}

#edit_list_button {
  font-family: 'Alata';
  color: #ffffff;
  border-radius: 7px;
  border: unset;
  background: #3f8ffc;
}


/* Style the search field */
form.example input[type=text] {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 15px 0px 0px 15px;
  float: left;
  background: #f1f1f1;
  width: 350px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 45px;
  padding: 5px;
  background: #2196F3;
  border-radius: 0px 15px 15px 0px;
  color: white;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-right: 20px;
}

  form.example button:hover {
    background: #0b7dda;
  }

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

#refresh {
  font-family: 'Alata';
  color: #ffffff;
  font-size: 14px;
  width: 100px;
  height: 32px;
  border-radius: 7px;
  border: unset;
  background: #f06e9c;
  position: relative;
  margin-right: 10px;
}

.wrap {
  width: 100%;
}

  .wrap table {
    width: 100%;
    table-layout: fixed;
    font-family: 'Alata';
  }

table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px #DDD solid;
  width: 100%;
  word-wrap: break-word;
}

table.head {
  margin-right: 18px;
  padding-right: 18px;
}

  table.head tr td {
    background: #eee;
    padding: 5px 0px 5px 0px;
  }

  table.head tr th {
    padding: 10px 0px 10px 0px;
    border-bottom: 1.5px #DDD solid;
  }

.inner_table {
  height: 320px;
  overflow-y: auto;
}
