<html>
<body>
  <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Text Me One' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div id="top-row">
    <h2 id="page-header">Grocery List</h2>
    <div style="display: inline-flex">
      <form class="example">
        <input type="text" placeholder=" Search for item.." name="search" id="search">
        <button type="submit" (click)="searchGList()"><i class="fa fa-search"></i></button>
      </form>
      <div>
        <button id="refresh" (click)="refreshTable()">Refresh</button>
        <button [routerLink]="['/add-item']" id="new-item-button">Create New Item</button>
      </div>
    </div>
  </div>


  <div class=parent>
    <div id="rcorners1">
      <div id="rconer1-sub1">
        Name of List
        <div [routerLink]="['/user-menu']" id="back-button">Back to Your Lists</div>
      </div>
    </div>
    <div id="rcorners2">
      <p *ngIf="!items"><em>Loading...</em></p>
      <table class='table' aria-labelledby="tableLabel" *ngIf="items">
        <thead>
          <tr>
            <th style="min-width: 40%;">Name</th>
            <th style="text-align:center">Quantity</th>
            <th style="text-align:center">Date Added</th>
            <th style="text-align:center">Completed</th>
            <th style="text-align:center">Actions</th>
          </tr>
        </thead>
        <tbody id="table-body">
          <tr *ngFor="let item of items">
            <td style="min-width: 40%;">{{ item.name }}</td>
            <td style="text-align:center">{{item.quantity}}</td>
            <td style="text-align:center"> {{item.date | date:'medium'}}</td>
            <td style="text-align:center">
              <input type="checkbox" [checked]="item.checkoff" />
            </td>
            <td style="text-align:center; ">
              <button class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
