<html>

<body style="background-color: rgba(255,255,255,0.75)">
  <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>

  <style>


    h2 {
      color: #629c44;
      font-family: 'Alata';
      text-align: center;

    }

    h3 {
      font-family: 'Alata';
    }

    p {
      font-family: 'Alata';
    }
  </style>


  <div id="main">
    <h2 style=" color: #629c44;">
      Frequently Asked Questions
    </h2>
    <hr />
    <h3> How do I create an account?</h3>
    <p> Select create account tab from the home page. From there you should be able to log in!</p>
    <hr />
    <h3> How do I create a new list?</h3>
    <p> Make sure you are logged in. From there select the Create New List button. You will be redirected to a new page where you can create your list.</p>
    <hr />
    <h3> How do I add a new item to a list?</h3>
    <p>View a list. From there select the Create New Item button. You will be redirected to a new page where you can create your item.</p>
    <hr />
    <p></p>
  </div>



</body>

</html>
