<html>
<body>
  <style>
    
    h2 {
      color: #629c44;
      font-family: 'Alata';
      text-align: center;
    }
    h3{
      font-family: 'Alata';
    }
    p{
        font-family: 'Alata';
    }
  </style>

  <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>

  <div id=" main">
    <h2 style=" color: #629c44;">
    Frequently Asked Questions</h2>
    <hr />
    <h3> How do I create an account?</h3>
    <p> Select create account tab.</p>
    <hr/>
    <h3> How do I create a new list?</h3>
    <p> In your user menu tab select Create New List</p>
  </div>



</body>

</html>
