<html>
<body>
  <style>
  </style>

  <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
  <div id="rcorners1">
    <div class="form-group align-items-center" style="text-align: center">
      <br />
      <input type="email" maxlength="25" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="List Name" style="width: 348px; height: 65px;" id="new-list-name" (keydown.enter)="addGList()">
      <br />
      <br />
      <button id="create-list-button" (click)="addGList()">Create New List</button>
      <br />
      <br />
      <br />
      <br />
      <br />
      <div [routerLink]="['/user-menu']" id="back-button">Back</div>
    </div>
  </div>
</body>
</html>
