/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #108a00;
}

code {
  color: #108a00;
}

.btn-primary {
  color: #fff;
  background-color: #108a00;
  border-color: #1861ac;
}



#rcorners1 {
  box-shadow: 3px 3px 7px #629c44;
  border-radius: 15px;
  background: #ffffff;
  padding: 20px;
  width: 389px;
  height: 552px;
  position: fixed;
  right: 300px;
  top: 250px;
}
