/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #108a00;
}

code {
  color: #108a00;
}

.btn-primary {
  color: #fff;
  background-color: #108a00;
  border-color: #1861ac;
}
