<html>
<body>
  <style>
    #rcorners1 {
      box-shadow: 3px 3px 7px #629c44;
      border-radius: 15px;
      background: #ffffff;
      padding: 20px;
      width: 389px;
    }
  </style>

  <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
  <h3 style="font-family: 'Alata';
    color: #629c44; margin-bottom: 50px; ">
    List Name
  </h3>
  <div id="rcorners1">
    <h3 style="font-family: 'Alata'; color: #629c44; margin-bottom: 30px; width: 100%">
      Add New Item
    </h3>
    <input placeholder="Item Name" style="margin-bottom: 30px; width: 100%; font-family: 'Alata'; font-size: 20px; " />
    <div class="form-group align-items-center" style="text-align: center">

      <button style="font-family: 'Alata'; color: #ffffff; font-size: 18px; padding: 5px 20px; border-radius: 7px; border:unset; background: #f06e9c; ">+ Add New Item</button>

    </div>
  </div>
</body>
</html>
