<html>
<body>
  <style>
  </style>

  <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
  <div id="rcorners1">
    <div class="form-group align-items-center" style="text-align: center">
      <br />
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Item Name" style="width: 348px; height: 65px;" id="new-item-name">
      <br />
      <input type="number" class="form-control" min="1" placeholder="Quantity" style="width: 348px; height: 65px;" id="new-item-num">
      <br />
      <button id="create-list-button" (click)="addItem()">Add New Item</button>
      <br />
      <br />
      <br />
      <br />
      <br />
      <div [routerLink]="['/item-list']" id="back-button">Back</div>
    </div>
  </div>
</body>
</html>
